<% provide(:title, @user.name) %>
<div class='profile-container'> 
   <div class='single-profile-item'>
      <div class='profile-picture'><%= @user.name[0] %></div>
      <div>
          <div class='profile-name'><%= @user.name %></div>
          <div class='profile-email'><%= @user.email %></div>
          <div class='profile-role'><%= @user.role %></div>
      </div>
   </div>
</div>