@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}
.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 30px;
  margin-top: 0px;
  font-size: 50px;
}

/* typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: 50px !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.jumbotron p {
  margin: 15px 0 0px 0;
  font-size: 21px;
  font-weight: 200;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  margin-top: 10px;
}

.checkbox {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 10px;
  span {
    display: inline;
    margin-left: 20px;
    margin-top: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

input#session_remember_me {
  margin: -15px 0 0 0px;
}

label {
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
  text-align: left;
  float: left;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

select {
  height: 50px !important;
  padding: 0 5px;
  background-color: white;
  outline: none;
}

.profile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .single-profile-item {
    display: flex;
    flex-direction: row;
    margin: 3rem 3rem;
  }
  .profile-picture {
    text-align: center;
    padding: 12px 10px;
    margin: 0 20px 0 10px;
    min-width: 5rem;
    max-height: 5rem;
    background-color: maroon;
    color: white;
    font-size: 20px;
    border-radius: 50%;
  }
  .profile-name {
    font-size: 35px;
    margin: 0px 0 5px 0;
    text-align: left;
  }
  .profile-email {
    font-size: 15px;
    margin: 5px 0 15px 0;
  }
  .profile-role,
  .button {
    display: block;
    font-size: 15px;
    margin: 15px auto;
    padding: 5px 10px;
    background-color: black;
    color: whitesmoke;
    width: 15rem;
  }
  .button {
    background-color: rgb(49, 140, 245);
  }
}

.bugs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .single-bug-wrapper {
    border: 1px solid black;
    margin: 3rem;
    max-width: 340px;
  }

  .single-big-show-wrapper {
    min-width: 700px;
  }

  h2,
  h6 {
    border-bottom: 1px solid gray;
    padding: 1rem;
    margin: 0;
    text-transform: capitalize;
    color: black;
  }

  h2 {
    font-size: 22px;
  }

  h5 {
    font-size: 16inpx;
    margin: 0;

    color: black;
    margin: 10px 0 0px 0;
  }

  h6 {
    font-size: 15px;
  }

  .bug-description {
    color: rgb(102, 94, 94);
    font-size: 15px;
    padding: 2rem 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .button {
    display: block;
    color: white;
    padding: 8px;
    background-color: black;
    margin: 1rem auto;
    width: 150px;
  }

  .comment-container {
    margin-bottom: 20px;
    text-align: left;
    padding-inline: 20px;
  }
}
